div#header
  div#div-gpt-ad-1373046795970-4.publicidadeTopo(style='width:728px; height:90px;')
  div#nav
    h1
      a(href='/')
        img(src='templates/default/images/logo-skynerd.png', alt='skynerd')
      img(src='templates/default/images/logo-message.png', alt='a rede social')
      a(href='http://jovemnerd.ig.com.br')
        img(src='templates/default/images/logo-jovemnerd.png', alt='jovemnerd')
    img(src='templates/default/images/ilustra-nerdinho.png', alt='')
    ul.avisos
      li.notificacoes
        a(href='javascript:void(0);')
          | Notificações
          span
      li.aliados
        a(href='javascript:void(0);')
          | Aliados
          span
      li.mensagens
        a(href='javascript:void(0);')
          | Mensagens
          span
    ul.painel
      li.ajuda
        a(href='/ajuda') Ajuda
      li.configura
        a(href='/perfil/configuracoes') Configurações
      li.logout
        a(href='/logout') Logout
    div.clearfix
    div#notificacoes-container
      div#notificacoes.notificacao
        h4 Notificações
        ul.sem-novas
          li Nenhuma nova notificação
        div.clearfix
      div#amizades-pendentes.notificacao
        h4 Pedidos de amizade
        ul.sem-novas
          li Nenhum pedido de amizade pendente
        div.clearfix
      div#mensagens.notificacao
        h4 Mensagens
        ul.sem-novas
          li Nenhuma nova mensagem
        div.clearfix
      div.clearfix
  div.clearfix
