#rodape
  div
    p
      | ©
      span 2002
      | -
      span
      | Data  
      span Jovem Nerd
      | |
      span Pazos e Ottoni
      | |
      span Versão 6.0 (
      | Lambda
      span )
    p Todas as imagens de filmes, séries, etc são
    p marcas registradas dos seus respectivos proprietários